<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
   <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  <link rel="stylesheet" href="style_fin.css" />
</head>
<body>
<div class ="split-screen">
  <div class="left">
  </div>
  <div class="right">
    <form>
      <section class="copy">
        <h2>Sign In</h2>
        <div class="login-container">
          <p>Dont have account? <a href="#" class=""><strong>Sign up</strong> </a></p>
        </div>
      </section>
      <div class="input-container email">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="Enter your Email">
      </div>
      <div class="input-container password">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Enter your password" >
      </div>
      <div class="containter cta">
        <label class="google-container">
           <p class="social-text">Have Gmail Account? </p>
          <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>


        </label>
      </div>
      <button class="sign-up-btn" type="submit"> Sign in</button>
    </form>
  </div>

</div>
</body>
</html>
