<html>
<head>
    <link rel="stylesheet" type="text/css" href="register_style.css">
    </head>
<body>
    <div class = "split-screen">
        <div class=""left>
            <section class="copy">
                <img class="imagec" src="bg-img.png">
            </section>
        </div> 
        <div class="right">
            <form>
                <section class="copy">
                    <h2>Sign up</h2>
                    <div class="login-container">
                        <p>Already have an account? <a href="#">
                            <strong>Log In</strong>
                        </a></p>
                    </div>
                </section>
                <div class="input-container name">
                    <label for="fname">Full Name</label>
                    <input id="fname" name="fname" type="text" required>
                </div>

                <div class="input-container username">
                    <label for="fname">Username</label>
                    <input id="username" name="fname" type="text" required>
                </div>

                <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required>
                </div>
                <div class="input-container password">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required placeholder="Must be atleast 6 characters">
                    
                </div>
                <div class="input-container bday">
                    <label>
                        Date of Birth:
                        <input type="date" name="bday" required>
                      </label>
                </div>
                <button class="signup-btn" type="submit">Sign up</button>
                <section class="copy legal">
                    <p><h4><span class="small">By continuing, you agree to accept our <br> <a href="#">Privacy policy</a> & <a href="#">Terms of service.</a></span></h4></p>
                </section>

            </form>
        </div>

    </div>

</body>
</html>