{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="profile-main">
    <div class="middle">
      
        
        <div class="profile-part">
        
        <div class="cover-image" style="background-image:url(../static/images/nepcov.png)"></div>    
    <div class="about-text">
    <h1>About Us</h1>
    <h5>Designer</h5>
    <p>At Softwarica, we promote the idea of learning, informing and empowering for a brighter tomorrow. In recent times, when our students can educate themselves on multiple aspects at the same time on the internet, we would like to provide them the platform to be the best that they can be in the tech world. </p>
    <button type="button">Let's Talk</button>
</div> 
</div> 

</div>
   
</div>
    
{% endblock %}
