
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato' !important;
    background-color: #d0eaf9 !important;
    --twitter-color: hsl(203, 89%, 64%) !important;
    --twitter-background: #e6ecf0 !important;
  }

  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;

  }

  /* Sidebar */
  
  .sidebar{
    overflow: hidden;
  }
  .sidebarOption {
    
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .loginOption {
    margin-top:50%;
    background-color:#bae3fd;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width:80%;
    margin-left:30px;
    padding-inline:5px;
  }

  .loginOption h3 {
   
    font-weight: 400;
    font-size: 13px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .loginOption h5 {
   
    font-weight: 200;
    font-size: 11px;
    color: #7b7b7b;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .loginOption img {
    border-radius:70%;
    height: 30px;
  }

  .sidebar .image2{
      height: 150px;
      display: block;
      margin-left: 0;
      margin-right: auto;
      
  }
  .sidebarOption .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--twitter-color);
  }
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  

  
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    background-color:white;
    border-radius: 16px;
  
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
  }
  
  .fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
  }
  
  /* feed */
  .feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;

    top: 0;
    background-color: #1CA1F1;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    border-radius: 16px 16px 0px 0px ;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
    color:white;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* tweet box */
  ::selection{
    color: #fff;
    background: #1da1f2;
  }

  .wrapper{
    background: #fff;
    max-width: 475px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .input-box{
    padding-top: 10px;
    height :200px;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
    border-bottom: 1px solid #e6e6e6;
  }
  .input-box .tweet-area{
    position: relative;
    min-height: 130px;
    max-height: 170px;
    overflow-y: auto;
  }
  .tweet-area::-webkit-scrollbar{
    width: 0px;
  }
  .tweet-area .placeholder{
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 22px;
    color: #98A5B1;
    pointer-events: none;
  }
  .tweet-area .input{
      margin-left: 10px;
    outline: none;
    font-size: 17px;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
  }
  .tweet-area .editable{
    position: relative;
    z-index: 5;
  }
  .tweet-area .readonly{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    background: transparent;
  }
  .readonly .highlight{
    background: #fd9bb0;
  }
  /* .line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    } */
  .bottom{
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: space-between;
  }
  .bottom .icons{
    display: inline-flex;
  }
  .icons li{
    list-style: none;
    color: #1da1f2;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
  }
  .bottom .content{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  }
  .bottom .counter{
    color: #333;
    display: none;
    font-weight: 500;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #aab8c2;
  }
  .bottom button{
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #1CA1F1;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    transition: background 0.2s ease;
  }
  .bottom button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .bottom button:hover{
    background: #0d8bd9;
  }

  /* post */
  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  #like{
      color: rgb(241, 86, 86);
  }
  .post {
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    margin-top: 20px;
  }
 
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
  }

  .dots{
    font-size: 20px !important;
    color: black;
    margin-left: 350px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__headerText h3 {
    padding-top :5px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__avatar {
    padding: 20px;
  }
  
  /* search */
  .widgets {
      background-color:white;
      border-radius: 16px;
      margin-right: -140px;
      margin-left: 30px;

    flex: 0.3;
  }
  
  