@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato';
    background-color: #F2F2F2;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.sidebar {
    width: 290px;
    height: 700px;
    display: block;

    background-color: #FFFFFF;
    border-radius: 16px;
    
}

.sidebar__brand {
    color: #1DA1F2;
    font-size: 38px;
    padding-left: 35px;
    padding-top: 35px;
}

.sidebar__item {
    display: flex;
    text-decoration: none;
    margin-top: 25px;
    padding-right: 15px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}

.sidebar__item:hover {
    background-color: #519BDF33;
    border-radius: 100px;
    width: fit-content;
}

.sidebar__item:hover i,
.sidebar__item:hover span {
    color: #1DA1F2 !important;
}

.sidebar__item__icon {
    display: flex;
    align-items: center;
    color: #5B5C5E;
    font-size: 28px !important;
}

.sidebar__item__text {
    display: flex;
    align-items: center;
    color: #5B5C5E;
    font-weight: bold;
    padding-left: 25px;
    font-size: 20px;
}