 :root{
   font-size:100%;
   font-size: 16px;
   line-height: 1.5;
   --primary-blue:#233975;
}
 body{
   padding:0 ;
   margin: 0;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
 }
 h1{
   font-size: 2.25rem;
   font-weight: 700;
 }
 h2{
   font-size: 1.5rem;
   font-weight: 700;
 }
 a{
   text-decoration: none;
   color: var(--primary-blue);
 }
 a:hover{
   text-decoration: underline;
 }
 .small{
   font-size: 80%;
   text-align: center;
 }

 .split-screen{
   display: flex;
   flex-direction: column;
 }
 .left {
   height: 200px;
 }
 .left, .right{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .left {
   background: linear-gradient(rgb(0,0,0,0),rgb(0,0,0,5)), url('neptter.png');
   background-size: cover;
 }
 .left .copy{
   color: white;
   text-align: center;
   --webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .left p {
   font-weight: 400;
 }

 .right .copy{
   color: black;
   text-align: center;
 }
 .right .copy p {
   margin: 1.5em 0;
   font-size: 0.875rem;
 }
 .right form {
   width:328px ;
 }
 form input[type="text"],
 form input[type="password"]{
   display: block;
   width: 100%;
   box-sizing: border-box;
   border-radius: 8px;
   border: 1px solid #c4c4c4;
   padding: 1em;
   margin-bottom: 1.25rem;
   font-size: 0.75rem;
   box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .1) ;
 }
 label{
   display: block;
   margin-bottom: 0.5rem;
   font-size: 0.75rem;
   justify-content: center;
 }
 /*.input-container .password{*/
 /*  position: relative;*/
 /*}*/
.google-container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  /*cursor: pointer;*/
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.container .cta{
  display: flex;
  flex-direction: row;
}

.social-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}




.sign-up-btn {
  display: block;
  width: 100%;
  background:var(--primary-blue);
  color: white;
  font-weight:700;
  border: none;
  padding:1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sign-up-btn:hover{
  background: #2c4893;
  cursor: pointer;
}



@media screen and (min-width: 570px){
  .split-screen{
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right{
    display:flex;
    width: 50%;
    height: auto;
  }
}














