:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5em;
    --primary-blue: #233975
}
body{
    padding: 0;
    margin: 0;
    font-family: 'montserrat', poppins;
    font-weight: 500;
}
h2{
    font-size: 2.25rem;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: var(--primary-blue);
}
a:hoover{
    text-decoration: underline;
}
.small{
    font-size: 80%;
    text-align:center;
}
.split-screen{
    display: flex;
    flex-direction: column;
}
.left, .imagec{
    height: 750px;
    /* background: linear-gradient(rgb(0,0,0,0),rgb(0,0,0,5)), url('neptter.png'); */
    background-image: url(static/images/register2.png);
    background-size: cover;
   
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .copy{
    color: black;
    text-align: center;
}

.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.right form{
    width: 500px;
    margin-left: 40%;
}

.input-container.password{
    position: inherit;
    top:500px;
    right:600px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
display: block;
width: 100%;
box-sizing: border-box;
border-radius: 8px;
border: 1px solid black;
padding: 1em;
margin-bottom: 1.25rem;
font-size: 0.875rem;

}

.signup-btn{
    display:block;
    width:100%;
    color: white;
    background-color:  #75afeb;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
}
@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        height: auto;
    }
    
}





