<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Popup Modal Box</title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
      <section>
          <div class="profile">
              <div class="profile-img">
                  <!--<img src="profile.jpg" alt="">-->
              </div>
              <span class="name">Prem Shahi</span>
              <span class="profession">Web & App Designer</span>
              <div class="button">
                <i class='bx bxs-envelope'></i>
                <button>Hire Me</button>
              </div>
          </div>
          <div class="popup-outer">
              <div class="popup-box">
                <i id="close" class='bx bx-x close'></i>
                  <div class="profile-text">
                      <!--<img src="profile.jpg" alt="">-->
                      <div class="text">
                          <span class="name">Prem Shahi</span>
                          <span class="profession">Web & App Designer</span>
                      </div>
                  </div>
                  <textare placeholder="Enter your message"></textare>
                  <div class="button">
                      <button id="close" class="cancel">Cancel</button>
                      <button class="send">Send</button>
                  </div>
              </div>
          </div>
      </section>

    <!--<script src="script.js"></script>-->
</body>
</html>