{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Neptter</title>
   <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
        <link rel="stylesheet" href="{% static 'css/forget-pw.css' %}">
        </head>
        <Body>
            <form>
                {% csrf_token %}
                    <a href="login.html" target="_blank"> Back to Login</a>
                <h1>Forgot password?</h1>
                <img class="imagec" src="{% static 'images/email.PNG' %}" script=" height=20px;">
                <h4>Send a link to your email to reset your password.</h4>
                <div class="input-container Email">
                    <label for="fname">Email</label>
                    <input id="email" name="email" type="email" placeholder="The one used during your signup">
                </div>
                <button class="sent" type="submit">Sent reset link <link rel="stylesheet" href=""></button>

            </form>
        </Body>
</html>