{% extends 'base.html' %}
{% load static %}
{% block body %}
            <!--============== MIDDLE SECTION ============== -->
             
            <div class="middle">
         
             <form   method="POST" enctype="multipart/form-data"  action="{% url 'post' %}" class="create-post">
                {% csrf_token %}
                <div class="profile-photo">
                    <img src="{{ user.profile.profile_pic.url }}">
                </div>
                <input type="text"  name ='description' placeholder="What's on your mind {{user.first_name}}?" id="create-post">
                <input name='pic' type="file" class="form-control-file mt-5"  id="imageupload" onchange="getImage(this.value);"> 
                <label for="imageupload"><i class="uil uil-image"></i></label>
                <div id="imageurl"></div>
                <button type="submit" class="btn btn-primary">Post</button>
             </form>
             <!--============== FEEDS ============== -->
              <div class="feeds">
                <!--============== FEED- 1 ============== -->
                {% for post in posts reversed %}
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <a href='{% url 'myprofiles' pk=post.user_name.username %}'>
                                <img src="{{ post.user_name.profile.profile_pic.url }}" alt="">
                                </a>
                            </div>
                            <div class="info">
                                {% if post.user_name.username == 'neptter12' %}
                                
                                <a class="verify"><h3><a href='{% url 'myprofiles' pk=post.user_name.username %}'> {{post.user_name.first_name}} </a></h3><img src="{% static 'images/verified.png' %}" style="width:20px; height:20px;" alt=""/></a>
                                {% else %}
                                <h3><a href='{% url 'myprofiles' pk=post.user_name.username %}'> {{post.user_name.first_name}} </a></h3>
                                {% endif %}
                                <small> {{post.date_posted }}</small>
                            </div>
                        </div>
                       
                        <div class="menu">
                        <span class="edit">
                            <i class="uil uil-ellipsis-h" onclick="menuToggle();"></i>
                        </span>
                        <div class="menu-content" action="{% url 'postdelete' %}">
                        <ul class="list">
                            {% if post.user_name.first_name == user.first_name %}
                            <li><a><i class="uil uil-trash-alt" ></i>Delete Post</a></li>
                            {% endif %}
                            <li><a  href="{{post.pic}}" download ><i class="uil uil-import"></i>Download</a></li>
                          </ul></div>

                        </div>
                       
                    </div>
                    <div class="caption">
                        <p>{{post.description}}</p>
                    </div>
                    {% comment %} {% if post.pic %}
                    <div  class="photo">
                        <a href="{{post.pic.url}}" target="_blank">
                        <img
                          src="{{post.pic.url}}"
                          alt=""
                        />
                        </a>
                    </div> {% endcomment %}
                    {% comment %} {% if  post.pic.toString().endsWith(".mp4") %}
                    <video class="photo" controls>
                        <source src="{{post.pic.url}}" type="video/mp4">
                </video> 
                {% else %} {% endcomment %}
                {% if post.pic %}
                <div  class="photo">
                    <a href="{{post.pic.url}}" target="_blank">
                    <img
                      src="{{post.pic.url}}"
                      alt=""
                    />
                    </a>
                </div>
                    {% endif %}
                    <div class="action-button">
                        <div class="interaction-button">
                
                            <a href="/likepost?post_id={{post.id}}"><i class="uil uil-heart"></i></a>
                             {% comment %} {% else %} 
                            <a href="/likepost?post_id={{post.id}}"><i class="uil comment-dots" style="color:red; "></i></a>
                            {% endif %} {% endcomment %}
                            <span><i class="uil uil-comment-dots"></i></span>


                        </div>
                    </div>
                    <div class="liked-by">
                        <p><b>{{post.like}}</b> likes</p>
                    </div>
                    {% comment %} <div class="caption">
                        <p> <b>{{post.user_name.first_name}}</b> {{post.description}}</p>
                    </div> {% endcomment %}
                </div>

                  <!--===========END OF FEED ==========-->
                  {% empty %}
                  {% endfor %}

              </div>
             
               <!--===========END OF FEEDS==========-->
            </div>
            {% endblock %}