{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="profile-main">
    <div class="popup-outer">
        <div class="popup-box">
                    <div class="form-content">
                        <a id="close" class="cancel"><i class="uil uil-times-circle" style="cursor:pointer; color:red; margin-left:19rem; font-size:19px;"></i></a>
                        <header>Update Profile</header>

                        <form method="POST" action='{% url 'myprofiles' pk=user.username %}' enctype="multipart/form-data" >
                            {% csrf_token %}
                    
                            <div class="field input-field">
                                <input type="text" name="full_name" placeholder="Fullname" class="input"  value="{{request.user.first_name}}">
                            </div>
    
                            <div class="field input-field">
                                <input type="text" name="username" placeholder="Username" class="input" value="{{request.user.username}}">
                            </div>

                            <div class="field input-field">
                                {{profile.phone}}
                            </div>

                            <div class="field input-field">
                                {{profile.address}}
                            </div>

                            <div class="field input-field">
                                <input id="email" name="email" type="text" placeholder="Enter your Email" value="{{request.user.email}}">
                            </div>

                            <div class="field input-field">
                                {{profile.birthday}}
                            </div>

                            <div class="field input-field">
                                {{profile.gender}}
                            </div>
                
                            <div class="field input-field">
                                {{profile.bio}}
                            </div>

                            <div class="field input-field">
                                {{profile.profile_pic}}
                               <h6> {{user_profile.user.profile.profile_pic}}</h6>
                        </div>
                        <div class="field input-field">
                            {{profile.cover_pic}}
                            <h6> {{user_profile.user.profile.cover_pic}}</h6>
                        </div>
                        <div class="button">
                            <button class="send">Update</button>
                        </div>  
                    </form>           
                    </div>
    
                   
        </div>
    </div>
    <div class="middle">
      
        
        <div class="profile-part">
        
        <div class="cover-image" style="background-image:url({{ user_profile.user.profile.cover_pic.url }})"></div>
        <div class="profile-image" style="background-image: url({{ user_profile.user.profile.profile_pic.url }})"></div>
        <div class="profile-details">
            {% if user_profile.user.username == user.username %}
            <div class="buttons">
                    <button class="btn btn-success" id="edit-profile-btn">Edit Profile</button>
                    {% comment %} <button class="btn btn-success float-right" onclick="unfollow_user(this,'{{username.username}}','edit_page')" id="following-btn">Following</button>
                    <button class="btn btn-outline-success float-right" onclick="follow_user(this,'{{username.username}}','edit_page')" id="follow-btn">Follow</button> {% endcomment %}
            </div>
            {% else %}
            <form action='{% url 'follow' %}' method="POST">
                {% csrf_token %}
            <div class="buttons-follow">
                <input type='hidden' value='{{user.username}}' name="follower"/>
                <input type='hidden' value='{{user_object.username}}' name="user"/>
                {% if button_text == button_check %}
                <button class="btn btn-primary1" id="follow-btn" type="submit">Unfollow</button>
                {% else %}
                <button class="btn btn-primary" id="follow-btn" type="submit">Follow</button>
                {% endif %}
            </div>
        </form>
            {% endif %}
            

            <div class="details-data">
                {% if pk == 'neptter' or 'elonmusk' %}
                <a class="verify"><h4>{{user_profile.user.first_name}}</h4> <img src="{% static 'images/verified.png' %}" style="width:17px; height:17px; margin-top:2.1px;" alt=""/></a>
                {% else %}
                <h4>{{user_profile.user.first_name}}</h4> 
                {% endif %}
                <div class="grey">@{{user_profile.user.username}}</div>
                <div class="bio">
                    <p>{{user_profile.user.profile.bio}}</p>
                </div>
                <div  style="padding: 8px 0px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3 " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    &nbsp;
                        Birthday :
                    
                    &nbsp;<span class="grey">{{user_profile.user.profile.birthday}}</span>
                  
                     
                </div>
              
                    <strong>
                       {{user_post_length}}
                    </strong>
                    &nbsp;<span class="grey">Posts</span>
                    &ensp;
                    <a href="#">
                        <strong id="following__count">{{following}}</strong>&nbsp;<span class="grey"> Following</span>
                    </a>
                    &ensp;
                    <a href="#">
                        {% if followers == 0 or followers == 1 %}
                        <strong id="follower__count">{{followers}}</strong>&nbsp;<span class="grey"> Follower</span>
                        {% else %}
                        <strong id="follower__count">{{followers}}</strong>&nbsp;<span class="grey"> Followers</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="post-title">
        <span class="material-symbols-outlined">
            article
            </span>
        <h4>{{user_profile.user.first_name}}'s Posts</h4>
    </div>
    <div class="feeds">
                <!--============== FEED- 1 ============== -->
                {% if user_post_length == 0%}
                <div class="nofeed" >
                <span><h3 >No posts from {{user_profile.user.first_name}} yet.</h3></span>
                </div>
                {% else %}
                {% for post in user_posts reversed %}
                {% comment %} {% if user_posts.post.user_name.first_name == user_profile.user.first_name %} {% endcomment %}
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="{{ post.user_name.profile.profile_pic.url }}" alt="">
                            </div>
                            <div class="info">
                                <h3> {{post.user_name.first_name}} </h3>
                                <small> {{post.whenpublished}}</small>
                            </div>
                        </div>
                       
                        <div class="menu">
                        <span class="edit">
                            <i class="uil uil-ellipsis-h" onclick="menuToggle();"></i>
                        </span>
                        <div class="menu-content">
                        <ul class="list">
                            {% if post.user_name.first_name == user.first_name %}
                            <li><a href="{% url 'postdelete' post_id=post.id %}"><i class="uil uil-trash-alt" ></i>Delete Post</a></li>
                            {% endif %}
                            <li><a  href="{{post.pic}}" download ><i class="uil uil-import"></i>Download</a></li>
                          </ul></div>

                        </div>
                       
                    </div>
                    <div class="caption">
                        <p>{{post.description}}</p>
                    </div>
                    
                    {% if post.pic %}
                    <div class="photo">
                        <img
                          src="{{post.pic.url}}"
                          alt=""
                        />
                    </div>
                    {% endif %}
                    <div class="action-button">
                        <div class="interaction-button">
                            <a   class="like" ><i  id="{{post.id}}" class="fa-regular fa-heart" style="color: red; font-size:20px;" onclick="LikePost(event,{{post.id}})"></i></a>


                            {% comment %} {%  if liked_post %} {% endcomment %}
                            {% comment %} 
                                {% for liked in liked_post %}  {% endcomment %}
                                    {% comment %} {% if request.user in liked_post  %}
                                        <a   class="like" ><i  id="{{post.id}}" class="fa-solid fa-heart" style="color: red; font-size:20px;" onclick="LikePost(event,{{post.id}})"></i></a>
                                    {% else %} 
                                        <a   class="like" ><i id="{{post.id}}" class="fa-regular fa-heart" onclick="LikePost(event,{{post.id}})"></i></a> 
                                    {% endif %}  {% endcomment %}
                                
                            {% comment %} {% else %} 
                                <a   class="like" ><i id="{{post.id}}" class="fa-regular fa-heart" onclick="LikePost(event,{{post.id}})" ></i></a> 
                            {% endif%}  {% endcomment %}
                            
                            <a href="{% url 'comment' pk=post.id %}" class="comment"><i class="uil uil-comment-alt"></i></a>
        

                        </div>
                    </div>
                    <div class="liked-by">
                        <p style="font-weight:bold;" id="like{{post.id}}">{{post.like}}</p><p style="margin-left:2.5px;"> like</p>
                        <p class="comment-count"><b>{{post.comment}}</b> comment</p>
                       </div>
                </div>

                  <!--===========END OF FEED ==========-->
                
                  {% empty %}
                  {% endfor %}
                  {% endif %}
                 
</div>

    </div>
</div>
    
{% endblock %}
