{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
   <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    </head>
<body>
    <div class = "split-screen">
        <div class=""left>
            <section class="copy">
                <img class="imagec" src="{% static 'images/register1.png'%}">
            </section>
        </div> 
        <div class="right">
            <form  action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <section class="copy">
                    <h2>Sign up</h2>
                    <div class="login-container">
                        <p>Already have an account? <a href="{% url 'login'%}" target="_blank">
                            <strong>Log In</strong>
                        </a></p>
                    </div>
                </section>
                <div class="input-container name">
                    <label for="fname">Full Name</label>
                    <input id="first_name" name="first_name" type="text" required>
                </div>

                <div class="input-container username">
                    <label for="fname">Username</label>
                    <input id="username" name="username" type="text" required>
                </div>

                <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required>
                </div>
                <div class="input-container password">
                    <label for="password">Password</label>
                    <input id="password1" name="password1" type="password" required placeholder="Must be atleast 6 characters">
                    
                </div>
                <div class="input-container password">
                    <label for="password">Confirm Password</label>
                    <input id="password2" name="password2" type="password" required placeholder="Must be atleast 6 characters">
                    
                </div>
                {% comment %} <div class="input-container bday">
                    <label>
                        Date of Birth:
                        <input type="date" name="dob" required>
                      </label>
                </div> {% endcomment %}
                <button class="signup-btn" type="submit">Sign up</button>
                <section class="copy legal">
                    <p><h4><span class="small">By continuing, you agree to accept our <br> <a href="#">Privacy policy</a> & <a href="#">Terms of service.</a></span></h4></p>
                </section>

            </form>
        </div>

    </div>

</body>
</html>