
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Reset Password Done</title>

<script
src="https://kit.fontawesome.com/64d58efce2.js"
crossorigin="anonymous"
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/reset-pw.css' %}">
</head>
<body>

<div class="container">
  <div class="row px-3">
    <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
      <div class="card-body">
        <h4 class="title" style="text-align: center">Reset Password Done Successfully</h4>


        <hr class="my-4" />

        <div class="text-center mb-2">
          Go back to
          <a href="{% url 'login'%}" class="login-link">login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>